body {
 display: flex;
 flex-direction: column;
}

header {
 display: flex;
 justify-content: space-between;
 align-items: center;
}

img {
 width: 40px;
 height: 40px;
}
 
h2 {
  align-self: start;
}

